#Menu
{
    float:left;
    width:200px;
}
#page
{
	width: 700px;
    overflow:hidden;
}
a {
    color:#145d8a;
    text-decoration: none;
}

a:visited {
    color: #145d8a;
}
a:hover,
a:focus,
a:active {
    color: rgb(255,204,102);
	font-weight: bold;
}
a:focus,
a:active {
    color: rgb(255,204,102);
	font-weight: bold;
	}
	
#medal{
	font-family: Universalia; 
	padding-bottom:15px;
	color: Silver;
}

#medalgold{
	font-family: Universalia; 
	position: relative;
	bottom:1px;
    color: rgb(255,204,102);
}