html, body { margin: 0; padding: 0; font: 100%/120% Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; }

body { padding: 1em; }

p { margin: 1em 0; padding: 0; }

h1 {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	color: #0d3a64;
	margin: 0 0 0.4em 0;
	line-height: 1em;
}
#disqus_thread{}

#level {
	background-color: #e5eecc;
	margin: 12pt;
	padding: 10pt;
	border-radius: 10pt;
	display: inline-block;


}
#applet_container{
min-width : 640 px;
min-height: 480px;
}

div.toolbar_button {
	isselected: false ;
}
.redoButton {
    width: 30px !important;
}