---
layout: default
title: Level 24
cat: level
lang: en
number: 24
---
<p id="goal">
	<b>Goal:</b> Construct a line (segment) tangent to both circles. Construct an inner tangent line.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>

<div id="hidden" style="display: none">
    <p id="level">
Go to <a href="/Level25/">level 25</a> !
        </p>
    </div>

<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level24.ggb %}" ;
	parameters.language = "en"
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}


checkdirection("tangentT",0,0);
checkdirection("tangentB",0,0);

LevelCompleted(drawn("tangentT") || drawn("tangentB"), 6);

}
</script>
