---
layout: default
title: Level 7
cat: level
lang: en
number: 7

---
<p id="goal"><b>Goal:</b> Construct a line segment with the same length and same direction as line segment AB but with beginpoint C.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
You unlocked a new tool: Translating lines ! <b>Note that this new tool won't work when all points lay on the same line.</b> Enhance your new tool in <a href="/Level8/">Level 8</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
	// Remove the translate tool for this level (100002)
	parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 9 | 4 | 3 "//| 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level7.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("targetPoint",0.3,0.3);
checkdirection("segmentAC",0,0);
checksegment("segmentCD",0,0);
checkdirection("segmentBD",0,0);
checkobject("lineParAB",0.5,0);   
checkdirection("targetsegment",0,0);

LevelCompleted((drawn("targetPoint") && drawn("targetsegment") )|| drawn("segmentCD"),3);

}
</script>
