---
layout: default
title: Level 17
cat: level
lang: en
number: 17

---
<p id="goal"><b>Goal:</b>  Given a line, a line segment AB, and a point O. Construct a circle with center O that cuts off a line segment on the given line that has the same length as segment AB.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level18/">Level 18</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level17.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

 checkobject("target1");

LevelCompleted(drawn("target1"),4);
}
</script>
