---
layout: default
title: Level 2
cat: level
number: 2
---
<p id="goal">
	<b>Goal:</b> Construct the midpoint of the line segment AB.
</p>

<p id="winningimg">
<img src="/img/Level2.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
You unlocked a new tool: Constructing a midpoint!  Go to <a href="/Level3/">level 3</a> !
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10"// | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level2.ggb %}" ;
	parameters.language = "en"
	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("pointtop",-0.4,0.3);
checkobject("pointbottom",-0.4,-0.3);
checkobject("midpoint",-0.4,-0.3);
//checkobject("circleleft");
//checkobject("circleright");

if (drawn("pointtop") + drawn("pointbottom") === 1){
	Command('progress = 33');
   }	

if (drawn("pointtop") + drawn("pointbottom") === 2){
	Command('progress = 66');
   }

LevelCompleted(drawn("midpoint"),3);

}
</script>
