---
layout: default
title: Level 12
lang: en
number: 12

---
<p id="goal"><b>Goal:</b>  Construct a new point E on the line segment CD such that CE has the same length as AB.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level13/">Level 13</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level12.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkpointontarget("target2",0,0.5)
checkpointontarget("target2b",0,0.5)
checkdirection("target2",0,0);
checkdirection("target2b",0,0);

if (drawn("ptarget2a")||drawn("ptarget2b")){
	Command('progress = 50');
   }	

LevelCompleted(drawn("target2")|| drawn("target2b"),4);
}
</script>
