---
layout: default
title: Level 7
lang: en
number: 7

---
<p id="goal"> Construct a line segment with the same length and same direction as line segment AB but with beginpoint C.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
You have unlocked a new tool! Constructing parallel lines. Go to <a href="/Level7/">level 7</a> !
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 " //| 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level6.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkdirection("linePerp",0,0);
checkdirection("linePar",0,0);

if (drawn("segmentPerp")){
	Command('progress = 50');
   }	


LevelCompleted(drawn("linePar"),2);

}
</script>
