---
layout: default
title: Level 18
cat: level
lang: en
number: 18

---
<p id="goal"><b>Goal:</b>  Given a point A, a line, and a point B. Construct a circle that passes through A and is tangent to the line at B.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level19/">Level 19</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level18.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

 checkobject("target1");

LevelCompleted(drawn("target1"),4);
}
</script>
