---
layout: default
title: Level 20
cat: level
lang: en
number: 20

---
<p id="goal"><b>Goal:</b> Construct two points, such that the segment is cut into three equal pieces.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level21/">Level 21</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level20.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}
checkobject("target1",-0.3,0.5);
checkobject("target2",-0.3,0.5);

LevelCompleted(drawn("target1") && drawn("target2"),5);

}
</script>
