---
layout: default
title: Level 14
cat: level
lang: en
number: 14

---
<p id="goal"><b>Goal:</b>   Construct a line (segment) at B tangent to the circle. A tangent line to a circle is a line that only touches the circle at one point.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level15/">Level 15</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10 | 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level14.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkdirection("targetsegment");

LevelCompleted(drawn("targetsegment"),2);
}
</script>
