---
layout: default
title: Level 1
---
<p id="goal">
	<b>Goal:</b> Construct an equilateral triangle such that the segment AB is one of its sides.
</p>
<p id="level">
	You unlocked a new tool: Constructing equilateral triangles!
	<a href="Level2.html">Go to level 2.</a><br>
</p>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10"; //| 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level1.ggb %}" ;
	parameters.language = "en"
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("pointtop");
checkobject("pointbottom");
checkobject("circleleft");
checkobject("circleright");
checksegment("segmentLB");
checksegment("segmentRB");
checksegment("segmentLT");
checksegment("segmentRT");

if (drawn("pointtop") || drawn("pointbottom")) {  
	setVisible("Progress1", false);
    Command('Progress2 = Text["Progress: 33%", (0.10972, -0.32915)]');
	}

if (drawn("segmentLT") || drawn("segmentLB") || drawn("segmentRB") ||  drawn("segmentRT")){
   setVisible("Progress2", false);
    Command('Progress3 = Text["Progress: 66%", (0.10972, -0.32915)]');
   }

if ((drawn("segmentLT") && drawn("segmentRT")) || (drawn("segmentLB") && drawn("segmentRB"))){
   setVisible("Progress3", false);
   Command('Progress4 = Text["Progress: 100%", (0.10972, -0.32915)]');
   Command('Complete = Text["Level completed !", (1.52038, -1.36364)]');   
   document.getElementById("level").style.display="inline-block";
	}
}
</script>
