---
layout: default
title: Tutorial
cat: level
number: 0
---
<p id="goal">
<img style="float:right;" src="data:image/png;base64, {% base64 img/tutorial.png %}">
	<b>Goal:</b>
	<ol>
	<li>Construct a line segment from A to B.</li>
	<li>Construct a ray from C to D.</li>
	<li>Construct a circle with center E and radius EF.</li>
	<li>Construct a circle with center F and radius EF.</li>
	<li>Construct a (black) point at the intersection of AB and the ray CD.</li>
	</ol>
	

</p>

<p><b>Hint:</b> Hold your mouse on a tool to get a brief instruction how the tool works.</p>
<div id="hidden" style="display: none">
<p id="level">
Well done ! You are now ready to begin with <a href="/Level1/">Level 1</a>
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10"; //| 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/tutorial.ggb %}" ;
	parameters.language = "en"
	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("ray1",0.5,0);
checkobject("circle1",-1,0);
checkobject("circle2",0.5,0);
checkobject("intersect1",0.5,0);
checksegment("segment1",0.5,0);

if (drawn("ray1") + drawn("circle1") + drawn("circle2") + drawn("intersect1") + drawn("segment1") ===1  ) {  
	Command('progress = 20');
	}

if (drawn("ray1") + drawn("circle1") + drawn("circle2") + drawn("intersect1") + drawn("segment1") === 2  ) {  
	Command('progress = 40');
	}

if (drawn("ray1") + drawn("circle1") + drawn("circle2") + drawn("intersect1") + drawn("segment1")  ===3  ) {  
	Command('progress = 60');
	}

if (drawn("ray1") + drawn("circle1") + drawn("circle2") + drawn("intersect1") + drawn("segment1") ===4  ) {  
	Command('progress = 80');
	}	
	
	
LevelCompleted(drawn("ray1") && drawn("circle1") && drawn("circle2") && drawn("intersect1") && drawn("segment1"),4);


}
</script>
