<ul>
    {% assign open=true  %} 
    {% for cat in site.site_order %}
        {% assign page_cat= site.pages | where:"cat",cat  %} 
        {% if page_cat %}
        <li>
            <h1>{{ cat  }} </h1>
            <ul>
            {% assign sorted_pages = page_cat | sort:"number" %}
            {% for p in sorted_pages %}
                <li>
                {% if p.url == page.url %}
                    <a href="{{ p.url }}" class="current">{{p.title}}</a>
                    {% assign open=false %}
                {% elsif open %}
                    <a href="{{ p.url  }}" class="current">{{p.title}} </a>
                {% else %}
                    {{p.title}}
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        </li>
        {% endif %}
    {% endfor %}
</ul>
