<script>
var totalscore = 0;
</script>
    {% assign allPages = site.pages | group_by:"cat" %}
        {% for page_cat in allPages %}
        {% unless page_cat["name"] == 'notSorted' %}
            <ul>
            {% assign sorted_pages = page_cat["items"] | sort:"number" %}
            {% for p in sorted_pages %}
					<script> 
					if (localStorage.Level{{p.number}} > 0){ 
					document.write("<li><a href=\"{{ p.url }}\">{{p.title}}</a> ("+localStorage.Level{{p.number}}+")</li>");
					totalscore = parseInt(localStorage.Level{{p.number}}) + totalscore;
					localStorage.totalscore = totalscore ;
					
					console.log(localStorage.totalscore+"totalscore");
					}
			
					</script>
            {% endfor %}
			<script>
			var number = {{page.number}}
			var next = number + 1;
			var nextlevel = "Level"+next;			
			console.log(localStorage.nextlevel);
					if (localStorage.Level{{page.number}} > 0 && (localStorage[nextlevel] > 0) === false){ 
					document.write("<li><a href=\"/"+nextlevel+"\">Level "+next+"</a></li>");}	
			</script>
        </ul>
        {% endunless %}
        {% endfor %}


<b>Total sore: <script>document.write(totalscore);</script> </b> 

<br>
<br>
<br>
<script>
var totalscore =0;
  var javascriptVariable = localStorage.Level1;
 for (var i = 0; i < 26; i++) {
 if (localStorage["Level"+i] > 0 ){
	totalscore = parseInt(localStorage["Level"+i]) + totalscore;
  } 
}

      function doStuff()
      {
        var nameElement = document.getElementById("someInput");
        var theName = nameElement.value;
		if (totalscore > 22476){
		window.location.href = "/submitscore.php?name="+theName+"+score=" + totalscore; 
		}
      }
	  


</script>
You can submit you're score here:
<br>

Name:  <input id="someInput" type="text">
  <input type="button" value="Submit" onClick="doStuff()">
 
<br> 
<br>
Highscore: 22476 by avlasov <br> Well done !<br>
Highscore will be updated tomorrow morning.